

  @font-face {
    font-family: 'MartianGrotesk-Regular';
    src: url('../font/martian-grotesk/MartianGrotesk-WdRg.otf') format('opentype');
    font-weight: normal; /* Specify the font weight */
  }


  /* .container {
      margin-right: auto;
      margin-left: auto;
      max-width: 100%;
      width: 1620px !important;
  } */
  .container-full {
      margin-right: auto;
      margin-left: auto;
      max-width: 100%;
      width: 1820px !important;
  }
  section.top-banner img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
  }

  /* banner */
  /* section.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  } */
  /* section.banner .container{
    z-index: 2;
  }
  section.banner::before,
  section.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

  }

  section.banner::before {
    background-image: url(../images/blog-banner-1.svg);
    z-index: 1;
  } */


/* 
  .banner-intro {
  text-align: center;
    max-width: 1072px;
    margin: 0 auto;
  }


  .banner h1{
  color: #A1FF00;
  text-align: center;
  font-family: MartianGrotesk-Bold;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 135.5%;
  margin-bottom: 100px;
  }

  .banner p{
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 36px */
  margin-bottom: 50px;
  }


  .banner p:last-child {
      margin-bottom: 0;
  } */

  /* second sec */


  .new-box{margin-bottom: 230px;}

  .new-box .row{max-width: 1620px;}

  .new-box .box {
  padding: 70px 50px;
  background: linear-gradient(108deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
  stroke-width: 0.794px;
  stroke: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(79.41178131103516px);
  border-radius: 50px;
  width: 100%;
  height: 100%;
  }


  .new-box .col:first-child {
      margin-left: 0;
  }

  .new-box .col:last-child {
      margin-right: 0;
  }

  .new-box .box h2 {
      color: #FFF;
      font-family: MartianGrotesk-Bold;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 135.5%;
      margin-bottom: 50px;
    text-align: left;
    height: 90px;
  }

  .new-box .box p{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.5;
  text-align: left;
  }


  .new-box .box:hover{background-color: #A1FF00;}
  .new-box .box:hover h2{color: #1A1A1A;}
  .new-box .box:hover p{color: #1A1A1A;opacity: 0.5;}

  .intro{margin-bottom: 70px;}
  .intro-content p{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
  }


  .c-form p.tagline{
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', sans-serif; font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 48px */
  max-width: 1256px;
  margin: 0 auto;
  margin-bottom: 70px;
  }
  .form{max-width: 1152px;margin: 0 auto;}


  .intro-content p.join
  {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 48px */
  margin-top: 100px;
  }


  /* media css start */

  @media screen and  (max-width: 1499px){

  .new-box .box h2{height: 100px;}

  }

  @media screen and  (max-width: 1366px){

    .new-box .box{padding: 60px 30px;}
    .new-box .box h2 {font-size: 30px;height: 90px;}

  }


  @media screen and  (max-width: 1024px){

    .container{max-width: calc(100% - 40px);padding: 0px;}
    .banner p{font-size: 20px;}
    .banner h1{font-size: 50px;margin-bottom: 50px;}

    .new-box .col {max-width: 50%;flex: 0 0 50%;}
    .new-box .box h2 {font-size: 28px;height: 90px;margin-bottom: 40px;}
    .new-box .box p{font-size: 22px;}
    .new-box .box{padding: 50px 40px;border-radius: 40px;}
    .new-box .col.last{margin-top: 24px;}
    .new-box {margin-bottom: 170px;}
    .intro-content p {font-size: 26px;}
    .intro {margin-bottom: 110px;}
    .c-form p.tagline {font-size: 28px;}
      .contact-form .form-field {overflow: hidden;}


      

  }




  @media screen and  (max-width: 991px){
    .new-box .box{padding: 40px 35px;border-radius: 30px;}
  }


  @media screen and  (max-width: 767px){

    section.banner{margin-bottom: 50px;}
    .banner p{font-size: 18px;}
    .banner h1{font-size: 40px;margin-bottom: 50px;}

    .new-box .col {width: 100%;max-width: 100%; flex: 0 0 100%;}
    .new-box .box h2 {font-size: 24px;height: auto;}
    .new-box .box p{font-size: 18px;}
    .new-box .col.center{margin-top: 24px;}
    .new-box .box{padding: 30px 25px;border-radius: 25px;}
    .new-box {margin-bottom: 40px;}
    .intro-content p {font-size: 22px;}
    .intro {margin-bottom: 90px;}
    .c-form p.tagline {font-size: 26px;}
    

  }


  /* .get-in-touch {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  } */
  .get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 48px;
  }

  .contact-form .form-field {
    position: relative;
    padding: 30px;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    background: linear-gradient(108deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(100px);
  }
  .contact-form .form-field .border-bottom{border-bottom: 2px solid rgba(255, 255, 255, 0.15) !IMPORTANT;}
  .contact-form .input-text {
    display: block;
    width: 90%;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    left: 27px;
    top: 9px;
    position: relative;
  }
  .contact-form .input-text:focus {
    outline: none;
  }
  .contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
    transform: translateY(-24px);
  }
  .contact-form .label {
    position: absolute;
    left: 90px;
    bottom: 35px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    cursor: text;
    transition: transform 0.2s ease-in-out;
  }

  .contact-form .label.phone-no{
     left: 155px;
  }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  .contact-form .input-text.subject {
      left: 0px;
  }
  .contact-form .input-text.text-msg {
      left: 0px;
      top: 30px;

  }
  .error-title{margin-top: 10px;color: #EA4335;margin-left: 17%;}
  .note {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: Lusitana, serif;
    font-size: 16px;
    line-height: 21px;
  }
  .note .link {
    color: #888;
    text-decoration: none;
  }
  .note .link:hover {
    text-decoration: underline;
  }


  /* .row {
    margin: -20px 0;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  .row .col {
    /* padding: 0 20px; */
    float: left;
    box-sizing: border-box;
  }
  .row .col.x-50 {
    width: 50%;
  }
  .row .col.x-100 {
    width: 100%;
  }
  form > div.col-md > div > label{
      left: 30px !important;
      top: 100px !important;
    }
   form > div.col-md.p-3.mb-3 > div > div > label{
      left: 30px !important;
      top: 30px !important;
    }
    #message1 {
      left: 0px;
    }
    body > div > div > div > form > div.col-md > div > label {
      left: 30px !important;
      bottom: 85px !important;
    }
    #message{
        left: 0px;
        top: 32px;
    }
    .h-250{
      min-height: 250px;
    }
    .bordersec{
      display: block;
    }

  #countryCode{
      background-color: transparent;
      border: none;
      color: #888;
      position: absolute;
      left: 80px;
      border-right: 1px solid;
      top: 35px;

  }
  /* form > div:nth-child(4) > div > div > div:nth-child(2) > label {
      left: 180px;
  } */
  /* #contactNumber {
      left: 100px;
  } */

  input::placeholder{
    color:transparent 
  }
  
  .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel]{
    top: 0;
  }

  /* .select_box{
    width: 200px;
    overflow: hidden;
    border: 1px solid #000;
    position: relative;
    padding: 10px 0;
  } */
  .select_box:after{
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #95EC00;
    position: absolute;
    top: 47%;
    left: 140px;
    content: "";
    z-index: 98;
   }
  /* .select_box select{
    width: 220px;
    border: 0;
    position: relative;
    z-index: 99;
    background: none;
  } */
  section.banner {
    position: relative;
    margin-top: -25px !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .form svg {height: 25px;width: 25px;}
    .select_box:after{top:45%;left: 119px;}
    #countryCode {left: 60px;top: 28px;}
    .contact-form #contactNumber.input-text{width: 65%;}

}


  @media screen and  (max-width: 767px){
    
    section {margin: 40px 0;}
    .banner h1+p {margin-top: 30px;}
    .intro-content p.join{margin-top: 40px;font-size: 22px;}
  .banner p{margin-bottom: 30px;}
  .banner h1 {font-size: 32px;margin-bottom: 30px;}
  section.banner {margin-bottom: 0px;}
  .contact-form .form-field {padding: 15px;}
  .contact-form .label {font-size: 14px;display: none;}
  #countryCode {left: 50px;top: 15px;    width: 58px;}
  .form svg {height: 25px;width: 25px;}
  .contact-form .input-text{top:0px;font-size: 16px;}
  .contact-form .form-field {overflow: hidden;}
  .error-title {margin-top: 10px;color: #EA4335;margin-left: 10%;font-size: 16px;}
  .select_box:after {top: 44%;left: 91px;}
  .bordersec{padding: 15px;}
  #contactNumber {left: 70px !important;max-width: 80%;}
  .contact-form .input-text.text-msg {left: 0px;top: 10px;}
}