 
@font-face {
  font-family: 'MartianGrotesk-Regular';
  src: url('../font/martian-grotesk/MartianGrotesk-WdRg.otf') format('opentype');
  font-weight: normal; /* Specify the font weight */
}

section.top-banner img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.blog-group {margin-bottom: 240px;}
 
.container-full {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 1820px !important;
}

.banner h1+p{margin-top: 65px;}


/* blog */

.blog-group .box .new-blog-category{
color: #A1FF00;
margin-top: 30px;
margin-bottom: 30px;
font-family: MartianGrotesk-bold;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 135.5%; /* 27.1px */
display: block;
}

.blog-group .box{
border-radius: 50px;
/* border: 2px solid rgba(255, 255, 255, 0.30); */
background: linear-gradient(108deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
backdrop-filter: blur(100px);
padding: 30px 30px 35px 30px;

}
.blog-group .group{
margin-bottom: 60px;}

.blog-group .box .title {
color: #FFF;
font-family: MartianGrotesk-Regular;
display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 135.5%; /* 27.1px */
margin-bottom: 0px;
overflow: hidden;
}


.blog-group .box .short-content {
  overflow: hidden;
  color: #FFF;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.5;
  margin-top: 30px;
  margin-bottom: 49px;
}


.blog-group .box .time{
color: #FFF;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}




@media screen and  (max-width: 1366px){
.blog-group .box {border-radius: 35px;}
.blog-group .box .new-blog-category{height: 65px;margin-bottom: 20px;}
.banner h1+p{margin-top: 50px;}
}


@media screen and  (max-width: 1024px){
/* .container{max-width: calc(100% - 40px);padding: 0px;} */
 .banner p{font-size: 20px;}
.banner h1{font-size: 50px;margin-bottom: 50px;} 
.blog-group .box .title{font-size: 20px;}
.blog-group .box .new-blog-category{font-size: 20px;margin-top: 20px;margin-bottom: 10px;height: 60px;}
.blog-group .box .short-content{font-size: 18px;}
.blog-group .box {border-radius: 30px;padding: 20px 20px 25px 20px;}
.blog-group .group {margin-bottom: 40px;}
.blog-group {margin-bottom: 200px;}

.container{max-width: calc(100% - 40px)};

}


@media screen and  (max-width: 767px){
  /* section {margin: 40px 0;} */
/* section.banner{margin-bottom: 50px;}*/
.banner p{font-size: 18px;}
.banner h1{font-size: 32px;margin-bottom: 30px;} 
.blog-group .group {margin-bottom: 30px;}
.blog-group .box .title{height: auto;font-size: 18px;}
.blog-group .box .new-blog-category{font-size: 18px;height: auto;margin-bottom: 30px;}
.blog-group .box .short-content{font-size: 16px;margin-top: 20px;margin-bottom: 30px;}
.blog-group .box .time{font-size: 16px;}
.blog-group .box {border-radius: 25px;padding: 10px 10px 20px 15px;}
.blog-group .group {margin-bottom: 30px;}
.blog-group {margin-bottom: 150px;}
.m-mb-0{margin-bottom: 0px;}

}





.banner-top-title{
  color: #FFF;
  font-family: 'MartianGrotesk-thin';
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 135.5%; 
}
.career-title{
  color: #FFF;
  text-align: center;
  font-family: 'MartianGrotesk-WdTh';
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: 95px;
  line-height: 135.5%;
}
.career-title-second{
  color: #FFF;
  text-align:start;
  text-align: start;
  font-family: 'MartianGrotesk-WdTh';
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: 95px;
  line-height: 135.5%;
}
.career-title-second span{
  color: var(--color-green);
  font-family: 'MartianGrotesk-Bold';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 135.5%;
}
.career-title span{
  color: var(--color-green);
  font-family: 'MartianGrotesk-Bold';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 135.5%;
}



/* ---------------------- accordion ---------------------- */
.accordion-item{
  background-color: transparent;
  color: #FFF;
  border: none;
}
.accordion-button:not(.collapsed){
  background-color: transparent;
  color: #FFF;
  box-shadow: initial;
}
.accordion-button span {
  color: var(--color-green);
  margin-right: 30px;
}
.accordion-button {
  color: #FFF;
  font-family: 'MartianGrotesk-Bold';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 135.5%; 
}
button.accordion-button.collapsed{
  background-color: transparent;
  padding: 0px;
}
button.accordion-button{
  padding: 0px;
}
.accordion-button:focus{
  box-shadow: initial;
}
.accordion-body{
  margin-top: 70px;
  padding: 0px 60px;
}
.bordersec{
  position: relative;
  padding: 30px; 
  border: 2px solid rgba(161,255,0,0.3);
  margin-bottom: 70px;  display:block;
}
.location{
  display: flex;
  padding: 25px 30px;
  align-items: center;
  background-color: #292929;
  width: 175px;
  justify-content: space-between;
  height: 60px;
  border-radius: 50px;
  color: #FFF;
}
.location p {
  color: #FFF;  
  font-family: 'Poppins'; 
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.accordion-button:not(.collapsed)::after{
  background-image:url("../images/cross.svg");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: contain;
  position: absolute;
  top: -55px;
  right: -55px;
}
.accordion-button::after{
  background-image:url("../images/round-x.svg");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: contain;
}



.info-pricing{
    background: linear-gradient(108deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
    stroke-width: 0.794px;
    stroke: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(79.41178131103516px);
    padding: 30px;
    border-radius: 50px;
    margin-bottom: 30px;
}
.info-pricing ul li {
  color: #FFF;
  font-family: 'Poppins';
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.info-pricing ul li span{
  color: var(--color-green);
  font-family: 'Poppins';
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info-pricing ul li span.email{
  color: #FFF;
  font-family: 'Poppins';
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


@media screen and  (max-width: 1024px){
  .accordion-button {
      font-size: 16px;
  }
  .accordion-body {
    padding: 0px 0px;
  }
  .accordion-button{font-size: 24px;}
}


@media screen and  (max-width: 767px){
  .accordion-button {
      font-size: 16px;
  }
  .accordion-body {
    padding: 0px 0px;
  }
  .career-title{margin-bottom: 40px;}
  .accordion-body{margin-top: 40px;}
  
}


/* .number p{
  color: #FFF;
  text-align: center;
  font-family: 'MartianGrotesk-Bold';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 135.5%;
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  border-radius: 50.001px;
  border: 2px solid #A1FF00;
  flex-shrink: 0;
  margin-right: 25px;
} */

.number h2{
  color: #A1FF00;
  font-family: 'MartianGrotesk-Regular';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135.5%; /* 32.52px */
  margin-bottom: 30px;
}
/*.mb-300{
  margin-bottom: 300px;
}
.mt-300{
  margin-top: 300px;
}*/
.info-number{
  padding: 35px;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.10);
  background: linear-gradient(108deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
  backdrop-filter: blur(100px);
  width: 100%;
  margin-bottom: 30px;
  height: 100%;position: relative;  
}

.use-cases-type{
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(108deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
  backdrop-filter: blur(100px);
  width: 100%;
  /* padding: 50px; */
  height: 220px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.use-cases-type img {
  margin-bottom: 25px;
}
.use-cases-type p {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 136%; /* 27.2px */
}
.gap-67{
  gap: 67px;
}










@media screen and  (max-width: 1607px){
  .gap-67{
    gap: 20px;
    justify-content: center !important;
  }
  .use-cases-type p{
    font-size: 15px;
  }
  .use-cases-type {
    padding: 16px;
    height: 160px;
  }
}

@media screen and  (max-width: 1440px){
  .use-cases-type{border-radius: 40px;}
  .bordersec { padding: 20px;margin-bottom: 50px;}
  .accordion-body {
    margin-top: 50px;}
}
  @media screen and  (max-width: 1024px){
  .use-cases-type { padding: 15px; height: 140px; border-radius: 25px;}
  .use-cases-type img {margin-bottom: 15px; height: 50px; width: auto;}
}

@media screen and  (max-width: 991px){
  .use-cases-type p{
    font-size: 14px;
  }
  .gap-67{
    gap: 20px;
    justify-content: center !important;
  }
  .info-number{
    height: 350px;
    overflow: scroll;
  }
  .number h2 {
    font-size: 20px;
  }
 /*  .use-cases-type {
    padding: 50px;
    height: 160px;
  } */
}
@media screen and  (max-width: 767px){
  .info-number{height: auto;}

   
  /* .gap-67{
    gap: 30px;
  } */
  .info-number{
    height: 350px;
    overflow: scroll;
    padding: 15px;
  }
  /* .number h2 {
    font-size: 20px;
  } */
 /*  .use-cases-type {
    padding: 50px;
    height: 160px;
  } */
  .bordersec{padding: 10px; }
  .career-title-second{margin-bottom: 40px;}
  .accordion-button::after{width: 40px; height: 40px;}

}